/*首页*/
.res_ad{ width: 100%; height:320px; background: url("../images/adbg.png") no-repeat 50% 0; background-size: cover;}
.res_ad .container{ height: 100%;}
.res_navs{ position: absolute; bottom: 0; left: 0;}
.res_navs ,.res_navs li{ width: 160px; list-style: none; padding: 0;margin: 0;}
.res_navs li{ margin-bottom: 10px; position: relative;}
.res_navs li a.res_navsbtn{ display: block;border-radius: 6px; width: 100%; padding: 15px; color: #04aef7; background: rgba(255,255,255,0.8); font-size: 16px; line-height: 26px; cursor: pointer;}
.res_navs li a.res_navsbtn.on{border-radius: 6px 0 0 6px;}
.res_navs li a.res_navsbtn i.qkyicon_res{ font-size: 30px; margin-right: 5px;}
.res_navs li a.res_navsbtn:hover{ background: #fff;}

.res_navsbox{ position: absolute; width:589px; background: #fff; 
    padding-bottom: 15px; box-shadow:0 3px 3px #ddd; top: 0; left:100% ; overflow:auto; overflow-x:hidden; display: none; }
.res_navsbox_list{ width: 100%; box-sizing: border-box; padding:15px 20px 0; }
.res_navsbox_list label{ color: #04aef7; font-size:15px; display: block; margin: 0;}
.res_navsbox_list p{ width: 100%; box-sizing: border-box; padding:10px 0;border-bottom: 1px dashed #d8d8d8; margin-bottom: 0;}
.res_navsbox_list p a{ color: #535353; padding-right: 10px; line-height: 20px; display: inline; font-size: 14px;}
.res_navsbox_list p a.yc{ display: none;}
.res_navsbox_list p a.list_more{ float: right; color: #27bbfa; cursor: pointer;} 

.res_infos{width:307px;position: absolute;bottom: 0; right: 0; box-sizing: border-box;}
.res_infobox{background: rgba(255,255,255,0.9); border-radius: 6px; width: 100%; padding: 0 20px;}
.res_infolist{ padding: 5px 0; border-bottom: 1px dashed #d8d8d8;}
.res_infolist:nth-last-child(1){ border-bottom: none;}
.res_infolist label{ color: #04aef7; font-size: 22px;}
.res_infolist span{ color: #777; font-size: 14px;}
.res_btn{ display: block; background: #f9b154; color: #fff; font-size: 20px; width: 100%; padding: 10px 0; text-align: center; margin: 10px 0; border-radius: 6px; }
.res_btn:hover{ background: #ec9f3b; text-decoration:none; color: #fff; cursor: pointer;}

.res_cadr{ background: #fff; box-shadow: 0px 2px 5px #eee; border: 1px solid #eee; padding: 10px; box-sizing: border-box; margin-top:16px;}
.res_cadr.left{ width:750px; height: 330px;}
.res_cadr.right{ width:307px; height: 330px;}

.res_title{ width: 100%; background:url("../images/tit1.png") no-repeat 0 0; background-size: cover; height: 46px; line-height: 46px; padding: 0 15px; box-sizing: border-box;}
.res_title.two{ background-image: url("../images/tit2.png")}
.res_title.three{ background-image: url("../images/tit3.png")}
.res_title label{ font-size: 18px; color: #fff; font-weight: inherit;}
.res_title  i{ font-size: 30px;color: #fff; margin-right: 5px;}
.res_title  a{ color: #fff;font-size:15px;}
.res_tit{ width: 100%;  font-size: 15px; color: #04aef7; padding: 5px 0; background: #e5f7fe; text-align: center;}

.res_ul{list-style: none; width: 100%; padding: 10px 0 0; box-sizing: border-box; margin: 0;}
.res_ul li{ width: 50%; float: left;list-style: none; margin-bottom: 12px;}
.res_ul li a{ display:block; padding-left: 10px;}
.res_ul li a img{width: 30px; float: left;}
.res_ul li a span{ line-height: 30px;float: left; display: block; margin-left: 5px;color: #737373;font-size: 14px; width: 80%;}
.res_ul li a:hover span{ color: #000;}

.res_dtul{ width: 100%;}
.res_dtlist{ width: 100%; border-bottom: 1px solid #eee; padding: 10px 0;}
.res_dtlist span{ float: left; color: #999; background: #eee; height: 20px; line-height: 20px; font-size: 12px; padding:  0 8px;}
.res_dtlist label{float: left; color: #04aef7; line-height: 20px; margin:0 0 0 5px; font-weight: normal;}
.res_dtlist p{ display: block; color: #535353; font-size: 14px; margin: 0; padding: 8px 0 0 0;}

.res_rmul{ width: 100%;}
.res_rmlist{ width: 100%; padding:12px 0;border-bottom: 1px dashed #d8d8d8; line-height: 20px; display: block;}
.res_rmlist i.one{ font-size:22px; color: #ea3c0e}
.res_rmlist span.one{ font-size:14px; color: #535353; margin-left: 5px;}
.res_rmlist i.two{ font-size:16px; color: #aaa; margin-right: 2px;}
.res_rmlist span.two{ font-size:12px; color: #999; margin-right: 2px;}
.res_rmlist:hover span.one{ cursor: pointer; color: #000;}

.res_gxul{ width: 100%; padding-top: 15px;}
.res_gxlist{ width: 100%;box-sizing: border-box; padding:0 5px 11px;}
.res_gxtx{ width:54px; border-radius: 50%; height: 54px; position: relative; }
.res_gxtx img.tx{ width: 54px; height: 54px; border-radius: 50%;}
.res_gxtx img.hg{ position: absolute; top: -12px; left: -7px; }
.res_gxtxt{ padding-left: 15px;}
.res_gxtxt span{ display: block;font-size: 13px; padding: 5px 0 3px;}
.res_gxtxt label{ display: block; color: #04aef7; font-size: 15px; margin: 0;}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color:#04aef7;}
.nav-tabs > li > a {color: #737373;}

.res_library{ padding: 15px;}
.res_libname{ position: relative; width: 100%; padding-bottom: 15px;border-bottom: 1px dashed #eee; }
.res_libname label{ margin: 0; font-size: 18px; line-height: 30px;}
.res_libname label span { margin-right: 10px;}

.res_libchoose_box{  box-sizing: border-box;  padding: 10px 10px 0; background: #fafafa; border: 1px dashed #eee; border-top: none; display: none;}
.res_libchoose_list{ padding: 8px 0; line-height: 30px; background: #fff; margin-bottom: 10px; box-shadow: 0 1px 3px #ddd; border-radius: 4px;}
.res_libchoose_type{  color: #535353; font-size: 16px; border-right: 1px solid #ddd;}
.res_libchoose_type i{ font-size:20px ; margin:0 5px; color: #04aef7;}
.res_libchoose_li{ display: block; padding: 0 5px; cursor: pointer; text-decoration: none; color:#737373; margin-left: 10px; line-height: 32px; border-radius: 4px;}
.res_libchoose_li:hover{ background: #e5f7fe; text-decoration: none;}
.res_libchoose_li.active{ background: #04aef7; color: #fff;}
.res_libchoose_more{line-height: 32px; margin-right:10px; cursor: pointer; text-decoration: none;}

.res_lib_catalog{ width:25%; box-sizing: border-box; padding-right: 15px; border-right: 1px solid #eee; margin: 15px 0 0;}

.res_tree_title{ background: #04aef7; color: #fff; text-align: center; padding: 10px 0; font-size:16px ;}
.res_tree,.res_tree li{list-style: none; padding: 0; margin: 0; width: 100%;}
.res_tree li a{ cursor: pointer; display: block;}
.res_tree li a:hover{ text-decoration: none;}

.res_tree_one{ color: #04aef7; font-size:14px; padding: 8px 10px;border-bottom: 1px dashed #eee;  font-weight: bold;}
.res_tree_one b{ width: 20px; height: 20px;font-size:14px; font-weight: inherit;background: #04aef7; color: #fff; text-align: center; line-height: 20px; display: inline-block;}
.res_tree_one b{-webkit-transition: all 0.25s ease-out 0s;-moz-transition: all 0.25s ease-out 0s;transition: all 0.25s ease-out 0s;}/*过度执行动画  ie8以及以下没作用*/
.res_tree_one b .jian{display: none;}
.res_tree_one b.yuan{ border-radius: 50%; background: #f55252}
.res_tree_one b.yuan .add{display: none;}
.res_tree_one b.yuan .jian{display: block;}
.res_leaf{ padding:0 10px; display: none;}
.res_leaf.open{ display: block;}
.res_tree_two{padding: 5px 0 5px 25px; border-bottom: 1px dashed #eee; color: #57cafc;}
.res_tree_two b{ width: 5px;height: 5px; margin-right: 5px; border-radius: 50%;background: #04aef7; display: inline-block;}

.res_lib_main{ width:75%; box-sizing: border-box;   margin: 15px 0 0;  border-left: 1px solid #eee; padding-left:1.5%; }
.res_lib_maintitle{ border-bottom: 1px dashed #eee; padding-bottom: 10px;}
.res_lib_types{ padding: 8px 10px; border-radius:0 0 0 4px; background: #f9f9f9;}
.res_lib_types>li>a{ padding: 5px 15px; color: #666;}
.res_lib_types > li.active > a, .res_lib_types > li.active > a:hover, .res_lib_types > li.active > a:focus {background: #f9b154; color: #fff;}

.res_lib_style{ background: #f5f5f5; border-top: 1px dashed #eee; padding: 4px 0;}
.res_lib_style label span{ font-size: 12px; color: #737373;}

.res_listbox{display: none;}
.res_listbox.open{ display:block;}
.res_list{ padding:5px; background: #fafafa; box-shadow: 0 1px 3px #ddd; margin-bottom: 15px; border-radius: 4px;}
.res_list_{ width:100%;}
.res_list .checkbox-qky{ display: none;}
.res_list.edit .res_list_{ width: 96%;}
.res_list.edit .checkbox-qky{ width: 4%; margin:40px 0  0 0;  box-sizing: border-box; display: block;}
.res_list.edit .checkbox-qky a{ margin-left: 5px;}

.res_list img{  width: 70px; padding-right: 10px;}
.list_txt label{ display: block; color: #333; font-size: 16px; font-weight: normal;  padding-top: 5px; margin-bottom: 0;}
.list_txt label:hover{ color: #04aef7;}
.list_txt span{display: block; font-size:14px ; color: #737373; padding-top: 5px;}
.list_info{ color: #999;}
.list_info span{ margin-left:10px;}
.list_bottominfo{  padding: 5px 10px; margin-top: 10px; color: #737373;}
.list_bottominfo >i{ color:#04aef7;}
.list_bottominfo span i{ color: #ec9f3b;}
.res_list:hover{ background: #f1f1f1; cursor: pointer;}
.res_list.in_info{ background: #fff;box-shadow:none; margin-bottom: 0; padding: 10px; border-bottom: 1px dashed #ddd;}
.res_list.in_info img{  width: 40px; padding-right: 10px; display: block;}
.res_list.in_info .list_txt label{ color: #333; font-size: 18px; margin-bottom: 0; line-height: 30px; padding: 0;}
.res_list.in_info .list_info{ line-height: 30px; font-size:15px;}
.res_info_main{ width: 100%; height:600px; background: #fafafa; }
.res_info_main_banner{ padding: 6px 15px; background: #f5f5f5;border-top: 1px dashed #ddd; }

.res_info_title{ color: #04aef7; background: #e5f7fe;  padding:5px 10px; font-size:16px ; border-radius: 4px 4px 0 0; border-bottom: 1px solid #eee;}
.res_info_cont{ padding: 10px; min-height: 160px; background: #fafafa; color: #838383;}
.res_info_cont_list{ border-bottom: 1px dashed #eaeaea; padding: 10px 0;}
.res_info_cont_list_left{ width: 8%;}
.res_info_cont_list_left img{ width: 80%; margin: 0 auto; display: block;}
.res_info_cont_list_right{ width:91%;}
.res_star{ cursor: pointer;}
.res_star b{ font-weight: normal;}
.res_star b.kong{ color: #999;}
.res_star b.mang{ color: #f1c446; display: none;}
.res_star.act b.kong{ display: none;}
.res_star.act b.mang{display:inline;}

.res_grid.left{ width: 315px;}
.res_user{ width: 100%;}
.res_user_tx{ width: 80px; height: 80px; border-radius: 50%; border: 2px solid #eee;}
.res_user_tx img{ width: 76px; height:76px; border-radius: 50%; }

.res_user_info label{  padding-left: 15px;display: block; font-size:18px; color: #04aef7; line-height: 80px;}
.res_user_info b{ display: block; min-width: 60px; height: 26px; font-size:18px ; border-radius: 4px; background: #f9b154; color: #fff; text-align: center; line-height: 26px; margin-top: 16px;}
.res_user_info span{ display: block; color: #f9b154; font-size:12px; width: 60px; text-align: center; padding-top:5px ;}

.res_info_box{  width: 100%; padding: 15px 0;}
.res_info_list{ width: 33%; text-align: center; border-right: 1px solid #ddd;}
.res_info_list:nth-last-child(1){ border-right: 0;}
.res_info_list label{ display: block; font-size:15px; color: #04aef7; width: 100%; margin-bottom:0;}
.res_info_list span{ display: block; color: #737373; font-size:13px;}
.res_info_list span i{ color: #04aef7;}

.res_grid.right{ width: 750px; margin-top: 16px;}
.res_grid.right .qkycadr{ border-color: #eee;    box-shadow: 0px 2px 5px #eee;}
.res_grid.right .nav-tabs {border-bottom: 1px solid #eee;}
.res_grid.right .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { border-color:#eee;    border-bottom-color: transparent;}


.res_sendtit{ padding: 5px 0 10px; line-height:24px;  color: #04aef7; font-size:18px ; border-bottom: 1px solid #eee; margin-bottom: 15px;}
.res_sendtit a{ color: #777; font-size: 14px; display: block; border-radius: 4px;}
.res_updata_tips{ width: 100%; margin-top: 5px; background: #fff; padding: 10px 5px; border: 1px dashed #fff;border-radius: 4px;}
.res_updata_tips p{ margin: 0; padding: 0; line-height: 24px; color: #777; }
.res_updata_tips .res_updata_tipstype{ margin-top: 5px;}
.res_updata_tips .res_updata_tipstype span{ display: block; float: left; padding: 5px 10px; background: #fafafa; margin-right: 5px; line-height: 22px; border-radius: 4px; color: #777;}
.res_updata_tips .res_updata_tipstype span img{ width: 22px; margin-right: 4px;}

.res_updata_file{ padding: 10px; margin-top: 10px; border: 1px dashed #eee;border-radius: 4px; background: #f5f5f5;}
.res_updata_file span{ line-height: 20px; color: #777; font-size: 15px;}
.res_updata_file b{ color: #04aef7; font-size: 14px;}
.res_updata_file .progress {height: 10px;border-radius: 2px; margin-bottom: 0;}

.inputbox{ padding-top: 25px;}
.res_input{ margin-bottom: 20px; width: 100%; position: relative;}
.res_input>img{ position: absolute; width: 20px; bottom: 4px; right: 4px;}
.res_input>label{font-weight: inherit;color: #666; line-height: 26px; font-size: 15px;}
.res_input>label>b{color: #f55252;}
.res_input>label>span{color:#999; font-size:12px;}
.res_input .radio>label>span{ color: #666;}
.res_input .radio>label>span>b{ color: #999; font-size:12px; padding-left: 8px; font-weight: normal;}

.open > a {
    outline: 0;
}
.qkydropdown>.btn {
    width: 100%;
    text-align: left;
    position: relative;
    height: 30px;
    padding: 4px 30px 4px 15px;
}
.open > .qkydropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.qkydropdown .btn .caret {
    position: absolute;
    right: 10px;
    top: 7px;
    border: 0;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    color: #333;
    display: inline;
    vertical-align: middle;
}
.qkydropdown .btn .caret {
    font-family: "qkyicon_14" !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.qkydropdown-toggle input{ display: block;  cursor: pointer;
    width: 100%;
    height:100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: none;
    background-image: none;
    border:none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    outline: none;
}
.qkydropdown-toggle:hover input{  background: #e6e6e6;}

.manychoose .qkydropdown-menus {
    width: 206%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.manychoose .qkydropdown-menus .col-sm-2{ padding:0 5px; height: 160px; overflow: hidden; position: relative; display: none;}
.manychoose .qkydropdown-menus .col-sm-2.v1,.manychoose .qkydropdown-menus .col-sm-2.v6{ display: block;}
.qkydropdown-loading{ position: absolute; width:100%; height:100%; top:0; left:0; z-index:444 ; display: block;}
.qkydropdown-loading.hide{ display: none;}
.manychoose ul.qkydropdown-menu{}
.manychoose .qkydropdown-menus ul{ list-style: none; padding: 0; margin: 0;  height: 100%; box-sizing: border-box; width:112%; padding-right:3%;
    overflow-x: hidden; overflow-y: scroll;}
.manychoose .qkydropdown-menus ul.chooseon{ padding-bottom: 30px;}
.manychoose .qkydropdown-menus ul li{list-style: none; padding: 0; margin: 0; box-sizing: border-box; width: 100%;}
.manychoose .qkydropdown-menus ul li a{ padding: 5px; width: 100%;box-sizing: border-box;  display: block; border-bottom: 1px dashed #eee; color: #777; cursor: pointer; }
.manychoose .qkydropdown-menus ul.qkydropdown-menu >li:hover >a,
.manychoose .qkydropdown-menus ul li.active a,
.manychoose .res_tree_two.active
{ background: #e5f7fe; color: #04aef7; border-color: #fff; text-decoration: none;}

.manychoose .chooseon li{ position: relative;}
.manychoose .chooseon li i{ display: none; position: absolute; right: 0; top: 50%; margin-top: -10px; z-index: 55; 
    line-height: 20px; height: 20px; cursor: pointer; width: 20px; text-align: center; background: #f55252; color: #fff; border-radius: 50%;}
.manychoose .chooseon li:hover i{ display: block;}

.menus_vaule_ok{ position: absolute !important; bottom:0; left: 10%; z-index: 66; padding: 5px 0 !important; text-align: center  !important; width: 80% !important;display: block  !important;}
/*云盘*/
.res_cadr.cloudleft{ width:260px; height: auto; min-height: 500px; padding: 0; }
.res_cadr.cloudright{ width:797px; height: auto; padding: 0; background:none;  border: none; }
.res_cadr.cloudbanner{ margin-top: 0;height: auto; padding-bottom: 0;}
.res_cadr.cloudbanner a{ text-decoration: none;}
.res_cadr.cloudtable{ height: auto; min-height:560px; padding:5px; overflow: hidden;}

.res_cloud_nav{ display: block; width: 100%; line-height: 24px; padding: 15px 20px;box-sizing: border-box;  color: #535353;
     font-size: 16px; border-bottom: 1px solid #eee; background: #fafafa;}
.res_cloud_nav i{ font-size:22px ; color: #f9b154; margin-right: 5px;}
.res_cloud_nav:hover,.res_cloud_nav.active{ color: #04aef7; background: #e5f7fe; text-decoration: none; cursor: pointer; border-color:#d3eef8;}
.res_cloud_nav:hover i,.res_cloud_nav.active i{ color: #04aef7; font-weight: bold;}

.res_cloud_ban2{ padding: 10px 0 ; border-top: 1px  dashed #ddd; margin: 10px -10px  0; background: #f9f9f9; }
.res_path{ color: #535353; cursor: pointer;  display: block; float: left; line-height: 20px; padding: 0 10px; border-right: 1px solid #ddd;}
.res_path:hover{ color: #04aef7;}
.res_type{color: #04aef7; cursor: pointer;  display: block; float: left; line-height: 20px; padding: 0 10px;}
.res_type:hover,.res_type.active{ color: #0a6b94; font-weight: bold;}

.cloudtable .table>thead >tr >th{ background: #e5f7fe; color: #04aef7; border-right: 1px solid #fff;}
.cloudtable .table>tbody >tr >td{ line-height: 30px;color: #999 !important; cursor: pointer;    border-top:none;    border-bottom: 1px solid #eee;}
.cloudtable .table .res_tablist{line-height: 30px; color: #737373 !important; }
.cloudtable .table .res_tablist img{ width: 28px; float: left; margin-right: 5px;}
.cloudtable .table .res_tablist span.resname{ width: 80%; line-height: 30px; float: left; display: block;}
.cloudtable .table>tbody >tr.active td{background: #d3eef8; color: #04aef7;}

.res_alltool{ display: none; color: #27bbfa; margin-right: 5px; cursor: pointer; text-decoration: none;}
.res_alltool:hover{ color: #0a6b94;}
.res_tool{ position: relative;}
.res_tool .toolbtn{ display:none; color:#04aef7; text-decoration: none;}
.cloudtable .table>tbody >tr:hover .res_tool .toolbtn{ display: inline-block;}
.res_moretool{ display: none; position: absolute; width: 80px; padding: 0; margin: 0; list-style:none;  top:80%; right: 0; z-index: 666;
     background: #fff; border: 1px solid #ddd;}
.res_moretool li{list-style:none; width: 100%; padding: 5px 0; line-height: 20px; text-align: center; color: #737373; font-size: 13px;}
.res_moretool li:hover{ background: #f5f5f5; color: #27bbfa;}
.res_tool .toolbtn.more:hover .res_moretool{ display: block;} 

.resname_input{ display: none;}
.resname_input .btn{ padding: 4px 5px;}
.resname_input .btn.btn-danger{ background: #f16269; border-color: #f16269;}

.filelist{ width: 100%; padding-left:10px; box-sizing: border-box; line-height: 30px; }
.filelist .clear{border-bottom: 1px dashed #ddd; background: #f9f9f9; padding: 5px;}
.filelist label{ margin-top: 2px;}
.filelist img{ width: 30px; margin:0 5px 0 10px;}
.filelist span{ line-height: 32px; max-width:80% ;}


.doc{ color: #7bccff!important;}
.ppt{ color: #f78873!important;}
.pdf{ color: #f5535f!important;}
.txt{ color: #e5e5e5!important;}
.mp3,.video{ color: #8496ff!important;}
.exl{ color: #6acc99!important;}
.png,.jpg,.gif{ color: #7bccff!important;}


