/*************************************************************
基础信息：
	主明：此css为公共应用的样式，包括公共模块样式，和基础样式，一般附加样式请另起css;
	可以添加和修改里面的样式，但得注明版本和更新内容;
	初始化版本号：1.0;
	初始化人员：zwt;
	日期：2016/01/25;
**********************************************************
更新信息：
	更新人员：alice (hhf)
	更新后版本号：zypt 1.0
	更新内容：头部增加top 导航变为两行显示
    日期：2016/01/27
**************************************************************/

@charset "utf-8";
/*图标字体架构*/
@font-face {font-family: "qky_icon";
  src: url('../icon_font/iconfont.eot'); /* IE9*/
  src: url('../icon_font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../icon_font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icon_font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icon_font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.qkyicon {
  font-family:"qky_icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
 /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}


/*基础样式*/
body{ font-size:12px;color:#666666; overflow-x:hidden; width:100%; background:#f3f3f3;}
*{ margin:0; padding:0; text-decoration:none; list-style:none; font-weight:normal;font-family: Arial,Microsoft YaHei;}
li,ul{list-style:none; margin:0; padding:0;}
img,button{ border:0px;}
img{vertical-align: middle;}
a{ color:#666; cursor:pointer;}
i,em{ font-style:normal;}
textarea,input{ outline:none;}
.clear2{ clear:both; zoom:1;}
.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both;}
.white{ background:#fff;}
.yc{ display:none;}
.trn{  -webkit-transition: all 0.25s ease-out 0s;-moz-transition: all 0.25s ease-out 0s;transition: all 0.25s ease-out 0s;}

.q1_co{ color:#111;}
.q3_co{ color:#333;}
.q6_co{ color:#666;}
.q9_co{ color:#999;}
.w_co{ color:#fff;}
.b_co{ color:#04acf7;}
.y_co{ color:#ff6600;}
.w_ba{ background:#fff;}
.b_ba{ background:#04acf7;}
.fz_0{ font-size:12px;}
.fz_1{ font-size:14px;}
.fz_2{ font-size:16px;}
.fz_3{ font-size:18px;}
.fz_4{ font-size:20px;}
.fz_5{ font-size:22px;}




/*顶部模块框架样式*/
.qky_header{  position:fixed;width:100%; z-index:100; margin:0; left:0;top:0;}
.header1{ background:#04acf7;}
.header2{ background:#f3f3f3;}
.qky_top_box{width:1000px;margin:0 auto; color:white;} 

.qky_top_txt{height:48px; line-height:48px;}
.qky_logo{ padding:0; float:left; height:46px; line-height:16px;margin-right:20px;}
.qky_logo img{ margin:6px 0 0; vertical-align:inherit;}

.qky_top_navs{ float:left;}
.qky_top_navs li{ float:left;line-height:48px; margin-right:2px;}
.qky_top_navs li a{font-size:14px; text-align:center;display:block;padding:0 25px;}
.qky_top_navs li a:hover,.qky_top_navs li .cur{ background:#3fc1fd;}

.qky_top_search{ float:right; text-align:right; margin-left:60px;height:48px; line-height:48px; overflow:hidden;}
.qky_top_search a{ padding:0 8px; font-size:13px; display:inline-block; position:relative;}

.qky_top_button{ width:112px; height:30px; float:right; margin-top:7px;}
.qky_top_button a{  border-radius:4px; border:1px solid #e7e7e7; display:block; line-height:30px; text-align:center; cursor:pointer; padding-left:5px;}
.qky_top_button a:hover{ border:1px solid #04acf7;}
.qky_top_button a i{margin-right:6px;}

.qky_tab{ height:48px; line-height:48px; padding:0 21px; border:1px solid #0099de; border-bottom:none; border-top:none; margin-left:-1px; cursor:pointer;}


/*中部模块框架样式*/
.qky_content{ width:100%; _width:expression((documentElement.clientWidth<1000)?'1000px':'auto'); height:auto; overflow:hidden; font-size:12px; padding-bottom:16px;}

	/*中部导航模块框架样式*/
	.qky_nav { width:980px; height:auto; background:#fff; margin:0 auto;overflow:hidden; margin-top:14px;}
	
		
		
	/*中部主要模块框架样式*/
	.qky_main{width:1000px; height:auto;  margin:16px auto 0;overflow:hidden; *margin-top:64px;}
	
		/*中部主要左边模块框架样式*/
		.qky_main_l{ width:230px;}
		
			
			
		/*中部主要右边模块框架样式*/	 
		.qky_main_r{ width:738px;}
		


/*底部模块框架样式*/
.qky_footer{ width:100%; background:#fff; padding:14px 0;}
.qky_footer div{ text-align:center; color:#666; line-height:30px;}
.qky_footer div img{ margin:5px auto; display:block;}





